<html>
    <head>
        <title>The Specific</title>
    </head>
    <body>
        <h1>The Specific</h1>
        <form action="/users" method="POST">
            <label>Name</label>
            <input type="text" name="name" value="Name">
            <label>Age</label>
            <input type="number" name="age" value="1">
            <input type="submit" value="Submit">
        </form>
        <h2><%= person %></h2>
    </body>
</html>